*
!/.config
 /.config/*
!/.config/mc
 /.config/mc/*
!/.config/mc/ini

!/.ssh
 /.ssh/*
!/.ssh/config
!/.ssh/servers.d

!.bashrc
!.git-completion.bash
!.git-prompt.sh
!.gitignore
!.gitignore_global
!.tmux.conf
