*
!/.bin
 /.bin/*
!/.bin/fzf_darwin
!/.bin/fzf_linux

!/.config
 /.config/*
!/.config/mc
 /.config/mc/*
!/.config/mc/ini
!/.config/fzf
!/.config/fzf/*.bash

!/.ssh
 /.ssh/*
!/.ssh/config
!/.ssh/servers.d
# !/.ssh/servers.d/.gitignore

!/.github
 /.github/*
!/.github/README.md

!.bashrc
!.git-completion.bash
!.git-prompt.sh
!.gitignore
!.gitignore_global
!.tmux.conf
