# mise config is gitignored globally. This line is to ungitignore it for this very repo
!templates/mise.toml
# AGENTS.md is gitignored globally; un-ignore it for this repo
!templates/pi/AGENTS.md
CLAUDE.local.md
.pi
*env*
!sample.env
id_ed*
.terraform*
!.terraform*lock*
tmp
.idea
*.iml
.vscode
