# When saving a file, back up the previous version of it to the current filename suffixed with a ~.
set backup
# You can also set the directory where Nano puts unique backup files if file backups are enabled.
set backupdir ~/.nano-backups

# Constantly display the cursor position in the status bar.
set constantshow

# This is for saving search/replace strings. All search/replace strings are saved to 
# the ~/.nano_history file, so they can be retrieved in later sessions, if nanorc support is available.
set historylog

# Enable the use of the mouse. Good if you move the mouse to point to another on text file, and not
# so useful if you need to cut or copy text. You can of course cut and paste with Ctrl+k and Ctrl+u.
#set mouse

include ~/.nano.d/*.nanorc
