[defaults]
nocows = True
roles_path = ~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:./roles
inventory = ./inventory.yml
vault_password_file = ./vault-password.sh
vault_encrypt_identity = default
