-- {{ ansible_managed }}


local wezterm = require 'wezterm'
local config = wezterm.config_builder()

-- wezterm.gui is not available to the mux server, so take care to
-- do something reasonable when this config is evaluated by the mux
function get_appearance()
    if wezterm.gui then
      return wezterm.gui.get_appearance()
    end
    return 'Dark'
end

function scheme_for_appearance(appearance)
    if appearance:find 'Dark' then
        return 'Sonokai (Gogh)'
    else
        return 'Sonokai (Gogh)'
    end
end

config.color_scheme = scheme_for_appearance(get_appearance())
config.font_size = 13
config.font = wezterm.font_with_fallback {
    "Fira Code",
    "JetBrains Mono",
    "Symbols Nerd Font Mono",
}

config.hide_tab_bar_if_only_one_tab = true
config.keys = {
    -- Make Option-Left equivalent to Alt-b which many line editors interpret as backward-word
    {key="LeftArrow", mods="OPT", action=wezterm.action{SendString="\x1bb"}},
    -- Make Option-Right equivalent to Alt-f; forward-word
    {key="RightArrow", mods="OPT", action=wezterm.action{SendString="\x1bf"}},
}

return config
